@font-face {
    font-family: Medium500;
    src: url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap);
  }

.bg-mainColor {
    background: #00bcd4;
}

.btn-period {
    border-radius: 1rem;
}

.my-font-medium {
    font-family: 'Medium500';
}

.text-mainColor {
    color: #00bcd4;
  }