@font-face {
    font-family: Medium500;
    src: url(F:/project/erp/src/layouts/CSS/Noto_Sans_TC/NotoSansTC-Medium.otf);
  }

.bg-mainColor {
    background: #00bcd4;
}

.btn-period {
    border-radius: 1rem;
}

.my-font-medium {
    font-family: 'Medium500';
}

.text-mainColor {
    color: #00bcd4;
  }